@tailwind base;
@tailwind components;
@tailwind utilities;
.ular {
  position: relative;
}

.ular:hover {
  border: 2px solid #00ff00;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.8);
  animation: bergerakBorder 1s infinite;
}

@keyframes bergerakBorder {
  0%,
  100% {
    border-color: #70f870;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8);
  }
  50% {
    border-color: #00a800;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
  }
}
